<header class="header">
    <nav class="d-flex align-items-center justify-content-between px-3 h-100">
        <div>
            <h6 class="m-0" *ngIf="isAuthenticated">{{ username }}</h6>
        </div>
        <div class="d-flex align-items-center">
            <a class="nav-link me-3 text-white" routerLink="/login" *ngIf="!isAuthenticated">LOGIN</a>
            <a class="nav-link me-3 text-white" routerLink="/signup" *ngIf="!isAuthenticated">SIGNUP</a>
            <button type="submit" class="btn btn" (click)="onLogout()" *ngIf="isAuthenticated">LOGOUT</button>
        </div>
    </nav>
</header>