<!-- LOADER -->
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<!-- <form [formGroup]="todoForm" (ngSubmit)="addToDo()">

    <div class="mb-3 d-flex align-items-center justify-content-between">
        <div>
            <label for="exampleInputEmail1" class="form-label">Todo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="description">
        </div>
        <div class="">
            <button class="btn btn-success" type="submit">ADD</button>
        </div>
      </div>
</form> -->

<div class="h-100 w-100 d-flex flex-column align-items-center">
    <h1 *ngIf="isAdd">ADD TODO</h1>
    <h1 *ngIf="!isAdd">EDIT TODO</h1>
    <form class="w-100" [formGroup]="todoForm" (ngSubmit)="addToDo()">
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>

        <div class="d-flex justify-content-end">
            <button mat-stroked-button color="primary" type="button" class="btn btn-cancel" routerLink="/master">CANCEL</button>
            <button mat-raised-button color="primary" type="submit" class="btn">ADD</button>
        </div>
    </form>
</div>