<div class="d-flex align-items-center justify-content-end">
    <button mat-raised-button color="accent" routerLink="../create-todo" class="btn">CREATE</button>
</div>
<div class="table-wrapper h-100">
    <!-- LOADER -->
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <table mat-table [dataSource]="todoList" class="mat-elevation-z8">
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="todo_id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.todo_id}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button type="button" color="primary" (click)="editTodo(element.todo_id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button type="button" color="warn" (click)="deleteTodo(element.todo_id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator">
        <mat-paginator [length]="totalList" [pageSize]="listPerPage" [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page">
        </mat-paginator>
    </div>
</div>