<div class="h-100">
    <button routerLink="../create-todo" class="btn btn-primary">CREATE</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoList">
                <th scope="row">{{ todo.todo_id }}</th>
                <td>{{ todo.description }}</td>
                <td>
                    <button type="button" class="btn btn-warning me-2" (click)="editTodo(todo.todo_id)">EDIT</button>
                    <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.todo_id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>